---
- name: Join worker node to cluster
  hosts: worker
  become: yes
  tasks:
    - name: Copy join command from master
      fetch:
        src: /home/ubuntu/join_command.sh
        dest: /tmp/join_command.sh
        flat: yes
      delegate_to: "{{ groups['master'][0] }}"

    - name: Execute join command
      command: bash /tmp/join_command.sh
