---
- name: Setup Prometheus and Grafana
  hosts: monitoring
  become: yes
  tasks:
    - name: Update apt packages
      apt:
        update_cache: yes

    - name: Install required dependencies
      apt:
        name:
          - wget
          - tar
          - prometheus
          - grafana
        state: present

    - name: Start and enable Prometheus service
      systemd:
        name: prometheus
        enabled: yes
        state: started

    - name: Start and enable Grafana service
      systemd:
        name: grafana-server
        enabled: yes
        state: started

    - name: Print access info
      debug:
        msg:
          - "Prometheus running on http://{{ ansible_default_ipv4.address }}:9090"
          - "Grafana running on http://{{ ansible_default_ipv4.address }}:3000 (user: admin / pass: admin)"
